ansicon==1.89.0
appdirs==1.4.3
asn1crypto==1.2.0
astroid==2.4.1
atomicwrites==1.4.0
attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.9.0
bleach==3.1.1
blessed==1.17.5
cachetools==4.2.0
calmap==0.0.7
certifi==2021.5.30
cffi==1.13.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
conda==4.10.1
conda-package-handling==1.6.0
configparser==5.0.0
crayons==0.3.0
cryptography==2.8
cycler==0.10.0
decorator==4.4.1
defusedxml==0.6.0
distlib==0.3.0
docopt==0.6.2
emoji==1.2.0
entrypoints==0.3
et-xmlfile==1.0.1
extruct==0.12.0
filelock==3.0.12
Flask==1.1.2
Flask-Cors==3.0.10
flatten-json==0.1.7
funcy==1.14
future==0.18.2
google-auth==1.24.0
google-auth-oauthlib==0.4.2
gspread==3.6.0
html-text==0.5.2
html5lib==1.1
httplib2==0.18.1
idna==2.9
importlib-metadata==1.5.0
ipykernel==5.1.4
ipython==7.12.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
isort==4.3.21
itsdangerous==2.1.2
jdcal==1.4.1
jedi==0.16.0
Jinja2==2.11.1
jinxed==1.0.0
joblib==0.14.1
json5==0.9.0
jsonschema==3.2.0
jstyleson==0.0.2
jupyter==1.0.0
jupyter-client==6.0.0
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterlab==1.2.6
jupyterlab-server==1.0.6
jyquickhelper==0.3.128
keyring==8.7
keyrings.alt==1.3
kiwisolver==1.2.0
language-tags==1.0.0
lazy-object-proxy==1.4.3
lxml==4.5.0
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
measurement==4.0a4
menuinst==1.4.16
mf2py==1.1.2
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
more-itertools==8.2.0
myfitnesspal==1.13.4
nbconvert==5.6.1
nbformat==5.0.4
nltk==3.5
notebook==6.0.3
numexpr==2.7.1
numpy==1.18.2
oauth2client==4.1.3
oauthlib==3.1.0
openpyxl==3.0.3
packaging==20.3
pandas==1.1.3
pandocfilters==1.4.2
parso==0.6.1
pickleshare==0.7.5
pipreqs==0.4.10
plotly==4.14.3
pluggy==0.13.1
prometheus-client==0.7.1
prompt-toolkit==3.0.3
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser==2.19
Pygments==2.5.2
PyJSONViewer==1.4.4
pyLDAvis==2.1.2
pylint==2.5.2
pyOpenSSL==19.0.0
pyparsing==2.4.7
pyRdfa3==3.5.3
pyrsistent==0.14.11
PySocks==1.7.1
pytest==5.4.1
python-dateutil==2.8.1
pytz==2019.3
pywin32==223
pywin32-ctypes==0.2.0
pywinpty==0.5.7
pyzmq==19.0.0
qtconsole==4.7.3
QtPy==1.9.0
rdflib==5.0.0
rdflib-jsonld==0.5.0
recipe-scrapers==12.0.2
regex==2020.11.13
requests==2.23.0
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.7
ruamel-yaml==0.15.46
scikit-learn==0.24.1
scipy==1.4.1
seaborn==0.10.0
selenium==3.141.0
Send2Trash==1.5.0
six==1.14.0
sklearn==0.0
soupsieve==2.0
terminado==0.8.3
testpath==0.4.4
textblob==0.15.3
threadpoolctl==2.1.0
timestring==1.6.4
tld==0.12.4
toml==0.10.1
tornado==6.0.3
tqdm==4.45.0
traitlets==4.3.3
typed-ast==1.4.1
urllib3==1.25.8
virtualenv==20.0.5
w3lib==1.22.0
wcwidth==0.1.8
webdriver-manager==2.5.3
webencodings==0.5.1
Werkzeug==2.1.1
WhatsParser==0.6.0
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.12.1
xlrd==1.2.0
yarg==0.1.9
zipp==3.0.0
